body {
  background: #0a0a0aea;
  color: white;
  min-height: 1200px;
}

.App {
  text-align: center;
}

.app-header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px;
}

.location-box {
  height: 25px;
  font-size: 1.25rem;
  border-radius: 7px;
  padding-left: 10px;
}

.label {
  margin-right: 20px;
  font-size: 1.5rem;
}

.all-links {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

.link {
  margin: 25px;
  font-size: 1.5rem;
  border: 2px solid white;
  border-radius: 25px;
  padding: 20px;
  width: 300px;
  background-color: rgb(62, 10, 158);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover {
  background-color: white;
  color: rgb(62, 10, 158);
  font-weight: bold;
  border: 2px solid rgb(62, 10, 158);
}

.get-weather-button {
  font-size: 1.25rem;
  border-radius: 8px;
  width: 200px;
  height: 35px;
  margin: 15px;
}

.currently-in {
  color: rgb(62, 10, 158);
}

.current-weather {
  font-size: 1.75rem;
  font-weight: bold;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
}

.please-enter {
  font-size: 1.5rem;
  font-weight: bold;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding: 50px;
}

.five-day-forecast {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.forecast-box {
  padding: 20px;
  border: 2px solid white;
  border-radius: 20px;
  margin: 20px;
  width: 240px;
  font-size: 1.25rem;
}

.forecast-date {
  font-size: 5rem;
}

.date-input {
  height: 25px;
  margin: 15px 15px 30px 15px;
  font-size: 1.25rem;
  border-radius: 7px;
  padding-left: 10px;
}

.history-date {
  color: rgb(62, 10, 158);
}

.historical-weather {
  font-size: 1.75rem;
  font-weight: bold;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
}

@media only screen and (max-width: 1500px) {
  .forecast-box {
    padding: 10px;
    margin: 0px 10px 20px 10px;
    width: 240px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1000px) {
  .app-name {
    font-size: 1.5rem;
  }
  
  .label {
    font-size: 1rem;
  }
  
  .header {
    font-size: .75rem;
  }

  .location-box {
    font-size: 1rem;
  }
  
  .link {
    margin: 15px;
    font-size: 1rem;
    border: 2px solid white;
    padding: 10px;
    width: 160px;
  }

  .five-day-forecast {
    display: inline-block;
    justify-content: center;
    padding: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .app-name {
    font-size: 1.25rem;
  }

  .label {
    margin-right: 10px;
  }

  .location-box {
    font-size: .75rem;
    width: 14 0px;
  }
}

@media only screen and (max-width: 600px) {
  .forecast-box {
    width: 220px;
  }

  .app-header-container {
    display: inline-block;
    padding: 25px;
  }

  .location-container {
    margin-top: 25px;
  }

  .header {
    font-size: 0.6rem;  
  }

  .link {
    margin: 10px;
    font-size: .75rem;
    padding: 10px;
    width: 120px;
  }

  .get-weather-button {
    font-size: 1rem;
    width: 140px;
  }

  .date-input {
    margin: 10px 10px 20px 10px;
    font-size: 1rem;
  }

  .please-enter {
    font-size: 1rem;
    padding: 20px;
  }

  .current-weather, .historical-weather {
    font-size: 1.25rem;
  }
}