body {
  background: #0a0a0ae1;
  color: white;
  min-height: 1200px;
}

.App {
  text-align: center;
}

.app-header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px;
}

.location-box {
  max-height: 20px;
}

.label {
  margin-right: 20px;
  font-size: 1.25rem;
}

.all-links {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

.link {
  margin: 25px;
  font-size: 1.5rem;
  border: 2px solid white;
  border-radius: 25px;
  padding: 20px;
  width: 300px;
  background-color: rgb(62, 10, 158);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.get-weather-button {
  font-size: 1.25rem;
  border-radius: 8px;
  width: 200px;
  height: 35px;
  margin: 15px;
}

.currently-in {
  color: rgb(62, 10, 158);
}

.current-weather {
  font-size: 1.75rem;
  font-weight: bold;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding: 50px;
}

.please-enter {
  font-size: 1.5rem;
  font-weight: bold;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding: 50px;
}

.five-day-forecast {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.forecast-box {
  padding: 20px;
  border: 2px solid white;
  border-radius: 20px;
  margin: 20px;
  width: 240px;
  font-size: 1.25rem;
}

.forecast-date {
  font-size: 5rem;
}

.date-input {
  margin: 15px 15px 30px 15px;
}

.history-date {
  color: rgb(62, 10, 158);
}

.historical-weather {
  font-size: 1.75rem;
  font-weight: bold;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
}